*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}   
body{
    background-color: rgb(42, 88, 144);
    min-height: 350vh;
}
header{
    background-color: #1C1D21;
    position: sticky;
    top: 0;
    z-index: 1;
}    
.myself{
    position: absolute;
    height: 600px;
    width: 100%;
    justify-content: space-around;
}


.myself .title{
    position: relative;
    top: 15%;
    margin-left: 250px;
    margin-top: 170px;
    color: rgb(172, 209, 204);
    font-size: 2rem;
    word-spacing: 10px;
    font-family: sans-serif;
    text-shadow: black 1px 1px 1px;
}

img{
    position: absolute;
    border-radius: 50%;
    left: 60%;
    top: 25%;
    border: 5px solid black;
}
.menu{
    text-decoration: none;
    background-color:#BB9BB0;
    padding: 6px 10px;
    border-radius: 5px;
    font-family:  monospace;
    font-size: 1rem;
    color: black;
    transition: 1s;
}
ul{
    display: flex;
    justify-content: right;
}
li{
    list-style: none;
    margin:1rem 3.5rem;
}
.menu:hover{
    background-color: cadetblue;
    transition: 1s;
    color: whitesmoke;

}
main{
    position: absolute;
    width: 100%;
}
main .one h1{
    margin-left: 80px;
    margin-top: 150px;
    font-size: 3.5rem;
    letter-spacing: 2px;
    padding: 1rem;
    text-shadow: black 2px 2px 2px;
    color: rgb(51, 134, 94);
}
 .one{
    width: 94%;
    position: relative;
    top: 650px;
    height:750px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: black 5px 7px 10px;
    flex-wrap: nowrap;
    background-image: url(images/creative.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 p{
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 60px;
    font-family:  sans-serif;
    letter-spacing: 2px;
    width: 50%;
 }
 .about h2{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: bold;
 }
 .about {
    background-color: cadetblue;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px ;
    height: 500px;
    position: absolute;
    top: 1700px;
    margin-top: 150px;
 }
 .about p{
    word-spacing: 10px;
    width: 100%;
    display: inline;
    position: relative;
    top: 30px;
    left: 5px;
    

 }
 footer{
    width: 100%;
    background-color:#1C1D21 ;
    position: absolute;
    bottom: -300%;
    color: #DCE0D9;
    height: 110px;
    display: flex;
    justify-content: space-around;
 }
 footer .media{
    text-decoration: none;
    color:#DCE0D9 ;
    position: relative;
    font-size: 22px;
    font-family: monospace;
    top: 40%;
 }
 